<a href="https://colab.research.google.com/github/Clouds413/CSC221_clouds413/blob/main/Week3A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
#Chapter 3 - Introducing lists

bicycle = ['trek', 'canondale', 'redline', 'specialized']
print(bicycle[0])

trek

In [ ]:
bicycle = ['trek', 'canondale', 'redline', 'specialized']
print(bicycle[-1].title())

Specialized

In [ ]:
message = f"My first bicycle was a {bicycle[1].title()}."
print(message)

My first bicycle was a Canondale.

In [ ]:
#Try it yourself 3 - 1 Names

names = ['Ned', 'Judy', 'Armagan', 'Trina', 'Deverie']
print(names)

['Ned', 'Judy', 'Armagan', 'Trina', 'Deverie']

In [ ]:
names = ['Ned', 'Judy', 'Armagan', 'Trina', 'Deverie']

print(names[0])
print(names[1])
print(names[2])
print(names[3])
print(names[4])

Ned
Judy
Armagan
Trina
Deverie

In [ ]:
names = ['Ned', 'Judy', 'Armagan', 'Trina', 'Deverie']

print(names[0])
print(names[1])
print(names[2])
print(names[-2])
print(names[-1])

Ned
Judy
Armagan
Trina
Deverie

In [ ]:
#Try it yourself 3 - 2 Greetings

names = ['Ned', 'Judy', 'Armagan', 'Trina', 'Deverie']

print(f"Hello, {names[0]}, how are you?")
print(f"Hello, {names[1]}, how are you?")
print(f"Hello, {names[2]}, how are you?")
print(f"Hello, {names[3]}, how are you?")
print(f"Hello, {names[4]}, how are you?")

Hello, Ned, how are you?
Hello, Judy, how are you?
Hello, Armagan, how are you?
Hello, Trina, how are you?
Hello, Deverie, how are you?

In [ ]:
#Try it yourself 3 - 3 My own list

transportation = ['hot air balloon', 'motorcycle', 'horse', 'scuba scooter']
print(f"I would like to ride a {transportation[2]}.")
print(f"I would like to ride a {transportation[0]}.")
print(f"I would like to ride a {transportation[-1]}.")

I would like to ride a horse.
I would like to ride a hot air balloon.
I would like to ride a scuba scooter.

In [ ]:
cats = ['siamese', 'manx', 'bobcat']
print(cats)
cats[0] = 'panther'
print(cats)

['siamese', 'manx', 'bobcat']
['panther', 'manx', 'bobcat']

In [ ]:
cats = ['siamese', 'manx', 'bobcat']
print(cats)
cats.append('panther')
print(cats)

['siamese', 'manx', 'bobcat']
['siamese', 'manx', 'bobcat', 'panther']

In [ ]:
cats = []
cats.append('siamese')
cats.append('maine coon')
cats.append('lynx')
cats.append('panther')
print(cats)

['siamese', 'maine coon', 'lynx', 'panther']

In [ ]:
cats = ['siamese', 'manx', 'bobcat']

cats.insert(0,'lynx')
print(cats)

['lynx', 'siamese', 'manx', 'bobcat']

In [ ]:
cats = ['siamese', 'manx', 'bobcat']

cats.insert(2,'lynx')
print(cats)

['siamese', 'manx', 'lynx', 'bobcat']

In [ ]:
cats = ['siamese', 'manx', 'bobcat', 'lynx']

del cats[2]
print(cats)

['siamese', 'manx', 'lynx']

In [ ]:
cats = ['siamese', 'manx', 'bobcat', 'lynx']

del cats[-1]
print(cats)

['siamese', 'manx', 'bobcat']

In [ ]:
trees = ['maple', 'oak', 'elm', 'apple']

print(trees)
popped_trees = trees.pop(0)

print(popped_trees)
print(trees)

['maple', 'oak', 'elm', 'apple']
maple
['oak', 'elm', 'apple']

In [ ]:
trees = ['maple', 'oak', 'elm', 'apple']

last_tree = trees.pop()

print(f"The last tree I climbed was an {last_tree.title()}.")

The last tree I climbed was an Apple.

In [ ]:
trees = ['maple', 'oak', 'elm', 'apple']

first_tree = trees.pop(1)

print(f"The first tree I climbed was an {first_tree.title()}.")

The first tree I climbed was an Oak.

In [ ]:
trees = ['maple', 'oak', 'elm', 'apple']

print(trees)

trees.remove('maple')
print(trees)

['maple', 'oak', 'elm', 'apple']
['oak', 'elm', 'apple']

In [ ]:
trees = ['maple', 'oak', 'elm', 'apple']

too_tall = 'elm'

trees.remove(too_tall)

print(f"The {too_tall.title()} is too tall for me to climb.")

The Elm is too tall for me to climb.

In [ ]:
#Try it yourself 3 - 4 Guest List
guest_list = ['Amelia', 'Robert', 'Anne']

print(guest_list)
print(f"Hello, {guest_list[0]}, I would enjoy your company for dinner.")
print(f"Hello, {guest_list[1]}, I would enjoy your company for dinner.")
print(f"Hello, {guest_list[2]}, I would enjoy your company for dinner.")

#3 - 5 changing guest list

print(f"{guest_list[2]}, unfortunately, cannot make it.")

guest_list[2] = 'Ben'

print(guest_list)

print(f"Hello, {guest_list[0]}, I would enjoy your company for dinner.")
print(f"Hello, {guest_list[1]}, I would enjoy your company for dinner.")
print(f"Hello, {guest_list[2]}, I would enjoy your company for dinner.")


#3 - 6 more guests
print("We found a larger table for our dinner.")

guest_list.insert(0, 'Oscar')
guest_list.insert(2, 'Mary')
guest_list.append('Jules')

print(guest_list)

print(f"Hello, {guest_list[0]}, I would enjoy your company for dinner.")
print(f"Hello, {guest_list[1]}, I would enjoy your company for dinner.")
print(f"Hello, {guest_list[2]}, I would enjoy your company for dinner.")
print(f"Hello, {guest_list[3]}, I would enjoy your company for dinner.")
print(f"Hello, {guest_list[4]}, I would enjoy your company for dinner.")
print(f"Hello, {guest_list[5]}, I would enjoy your company for dinner.")


#3 - 7 Shrinking Guest List

print("Sadly, the situation has changed again & I only have space for two.")

uninvited_guest = guest_list.pop()
print(f"Hello, {uninvited_guest}, unfortunately we have to uninvite you.")
uninvited_guest = guest_list.pop()
print(f"Hello, {uninvited_guest}, unfortunately we have to uninvite you.")
uninvited_guest = guest_list.pop()
print(f"Hello, {uninvited_guest}, unfortunately we have to uninvite you.")
uninvited_guest = guest_list.pop()
print(f"Hello, {uninvited_guest}, unfortunately we have to uninvite you.")

print(f"Hello, {guest_list[0]}, I would enjoy your company for dinner.")
print(f"Hello, {guest_list[1]}, I would enjoy your company for dinner.")


del guest_list[1]
del guest_list[0]

print(guest_list)

['Amelia', 'Robert', 'Anne']
Hello, Amelia, I would enjoy your company for dinner.
Hello, Robert, I would enjoy your company for dinner.
Hello, Anne, I would enjoy your company for dinner.
Anne, unfortunately, cannot make it.
['Amelia', 'Robert', 'Ben']
Hello, Amelia, I would enjoy your company for dinner.
Hello, Robert, I would enjoy your company for dinner.
Hello, Ben, I would enjoy your company for dinner.
We found a larger table for our dinner.
['Oscar', 'Amelia', 'Mary', 'Robert', 'Ben', 'Jules']
Hello, Oscar, I would enjoy your company for dinner.
Hello, Amelia, I would enjoy your company for dinner.
Hello, Mary, I would enjoy your company for dinner.
Hello, Robert, I would enjoy your company for dinner.
Hello, Ben, I would enjoy your company for dinner.
Hello, Jules, I would enjoy your company for dinner.
Sadly, the situation has changed again & I only have space for two.
Hello, Jules, unfortunately we have to uninvite you.
Hello, Ben, unfortunately we have to uninvite you.
Hello, Robert, unfortunately we have to uninvite you.
Hello, Mary, unfortunately we have to uninvite you.
Hello, Oscar, I would enjoy your company for dinner.
Hello, Amelia, I would enjoy your company for dinner.
[]

In [34]:
#3 - 8 Seeing the World
places = ['Maldives' , 'Crete' , 'Alaska', 'St. Petersburg', 'Iceland' ]
print(places)

print(sorted(places))
print(places)

places.reverse()
print(places)

places.reverse()
print(places)

print(len(places))

places.sort()
print(places)

places.sort(reverse=True)
print(places)

['Maldives', 'Crete', 'Alaska', 'St. Petersburg', 'Iceland']
['Alaska', 'Crete', 'Iceland', 'Maldives', 'St. Petersburg']
['Maldives', 'Crete', 'Alaska', 'St. Petersburg', 'Iceland']
['Iceland', 'St. Petersburg', 'Alaska', 'Crete', 'Maldives']
['Maldives', 'Crete', 'Alaska', 'St. Petersburg', 'Iceland']
5
['Alaska', 'Crete', 'Iceland', 'Maldives', 'St. Petersburg']
['St. Petersburg', 'Maldives', 'Iceland', 'Crete', 'Alaska']

In [36]:
#3 - 9 Dinner Guests
guest_list = ['Amelia', 'Robert', 'Anne']
print(len(guest_list))
print(f"I am having a dinner party with {len(guest_list)} very cool people.")

3
I am having a dinner party with 3 very cool people.

In [40]:
#3 - 10 Every Function

items = ['frying pan' , 'olive oil' , 'pepper' , 'bacon']
print(items)

items[-1] = 'eggs'
print(items)

items.append('butter')
print(items)

items.insert(3, 'cheese')
print(items)

del items[2]
print(items)

items.remove('olive oil')
print(items)

items.reverse()
print(items)

print(len(items))

['frying pan', 'olive oil', 'pepper', 'bacon']
['frying pan', 'olive oil', 'pepper', 'eggs']
['frying pan', 'olive oil', 'pepper', 'eggs', 'butter']
['frying pan', 'olive oil', 'pepper', 'cheese', 'eggs', 'butter']
['frying pan', 'olive oil', 'cheese', 'eggs', 'butter']
['frying pan', 'cheese', 'eggs', 'butter']
['butter', 'eggs', 'cheese', 'frying pan']
4